body {
  font-family: "Urbanist", sans-serif;
}
.hero {
  background: #ffcbcb;
  text-align: center;
  padding: 160px 20px;
}
.logo {
  max-width: 100%;
  height: auto;
}
.navbar.navbar-default {
  background-color: #ffcbcb;
}
